.note
{
    text-align: center;
    height: 50px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    /* font-weight: bold; */
    line-height: 50px;
}
.note > p {
    font-size: 20px;
    text-transform: uppercase;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit, button
{
    margin-left: 40%;
    margin-top: 60px;
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
    text-transform: uppercase;
}